{% extends 'base/base.html' %}

{% load static %}

{%block nav_bar%}
    <div class="container-fluid">
        <a style="font-size:14px;" class="navbar-brand">Client Logo</a>
        <form class="d-flex">
           
        </form>
    </div>
{% endblock nav_bar %}


<!-- Side Nav -->
{% block side_nav_items %}
<a href="{% url 'appAUDITAI:access-request-home' %}" data-toggle="tooltip" title="Home"><span class="fas fa-house-user"></span></a>
<a href="{% url 'appAUDITAI:access-request-approval'  %}" data-toggle="tooltip" title="My Approval Requests"><span class="fas fa-folder-open"></span></a>
<a href="{% url 'appAUDITAI:logout-user' %}" data-toggle="tooltip" title="Sign-out"><span class="fas fa-sign-out-alt fa-fw mr-3"></span></a>
{% endblock side_nav_items %}

<!-- Content -->
{% block content %}
    
{% endblock content %}