{% extends 'base/base.html' %}

{% load static %}

<!-- Side Nav -->
{% block side_nav_items %}
<a href="{% url 'appAUDITAI:mydashboard' %}" data-toggle="tooltip" title="Home"><span class="fas fa-house-user"></span></a>
<a href="{% url 'appAUDITAI:risk-and-controls' %}" data-toggle="tooltip" title="Risk and Controls"><span class="fa-solid fa-shield-halved"></span></a>
<a href="{% url 'appAUDITAI:audit-manage-period' %}"  data-toggle="tooltip" title="Manage Audits"><span class="fa-solid fa-business-time"></span></a>
<a href="" data-toggle="tooltip" title="Processes"><span class="fas fa-tasks fa-fw mr-3"></span></a>
<a href="{% url 'appAUDITAI:logout-user' %}" data-toggle="tooltip" title="Sign-out"><span class="fas fa-sign-out-alt fa-fw mr-3"></span></a>

{% endblock side_nav_items %}


<!-- Content -->
{% block content %}
    
{% endblock content %}