{% extends 'base/base-requestor.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/tables.css' %}" />
<link rel="stylesheet" href="{% static 'css/dragndrop.css' %}" />
<!-- Styles -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>


<div class="card" style="height:90vh">
    <div class="card-body">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size:14px;">
                <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:access-request-home'%}"
                        style="text-decoration:none;color:#474b4d">Home</i></a></li>
                <li class="breadcrumb-item active" style="text-decoration:underline;color:#474b4d">My Requests</a></li>
            </ol>
        </nav>

        <nav class="navbar bg-body-tertiary" data-bs-theme="light" style="margin-bottom: 15px;margin-top:30px;;">
            <div class="container-fluid">
                <div class="row">
                    <a style="font-size:25px;"><span class="fas fa-solid fa-user"
                            style="margin-right: 10px;color:#474b4d"></span>Access Request Dashboard</a>
                </div>
                <form class="d-flex" role="search">
                    <input id="searchAPP" class="form-control me-2" type="search" onkeyup="filterApps()"
                        placeholder="Search Requests..." autocomplete="off" aria-label="Search"
                        style="height:35px;font-size:13px;">
                    <button type="button" class="btn btn-outline-secondary" aria-expanded="false"
                        style="height:35px;margin-right:3px;">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </nav>

        <div style="border-bottom:solid;border-color:lightgray;margin-bottom:20px;" style="font-size:13px">
            <p style="font-size:13px">Manage, create, and view access related requests </p>
        </div>

        <div class="card" style="margin-top:20px;">
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-sm" style="margin-bottom:20px;" data-bs-toggle="modal"
                    href="#new_access_request">New Access Request</button>
                <table id="app_user_list" name="app_user_list" class="table table-hover table-sm nowrap"
                    style="margin-top:50px;width: 100%;word-wrap:break-word;font-family:sans-serif;margin-top:20px;">
                    <thead style="padding-top:12px;text-align:center">
                        <tr style="font-size:12px; background-color:whitesmoke;">
                            <th style="text-align:left; width: 10%;">Reference</th>
                            <th style="text-align:left; width: 10%;">Application Name</th>
                            <th style="text-align:left; width: 15%;">Roles</th>
                            <th style="text-align:left; width: 10%;">Date Created</th>
                            <th style="text-align:left; width: 15%;">Assignee</th>
                            <th style="text-align:left; width: 15%;">Approval Status</th>
                            <th style="text-align:left; width: 15%;">Approver</th>
                            <th style="text-align:left; width: 15%;">Date Approved</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:13px">
                        {% for ticket in my_requests %}
                        <tr style="vertical-align: middle;">
                            <td><a style="color:#3b3d3d" href="{% url 'appAUDITAI:access-request-details' ticket.id %}">{{ ticket.REQUEST_ID }}</a>
                            </td>
                            <td>{{ ticket.APP_NAME }}
                            </td> 
                            <td>{{ ticket.ROLES }}
                            </td>
                            <td>{{ ticket.DATE_REQUESTED|date:"M d, Y"  }}
                            </td>
                            <td>{{ ticket.ASSIGNED_TO }}
                            </td>
                            {% if ticket.STATUS == 'Approved' %}
                            <td><i class="fas fa-check-circle" style="margin-right:5px;color:green"></i>{{ ticket.STATUS }}
                            {% else %}
                            <td><i class="fas fas fa-spinner" style="margin-right:5px;color:orange"></i>{{ ticket.STATUS }}
                            {% endif %}
                            </td>
                            {% if ticket.BUSINESS_APPROVER %}
                            <td>{{ ticket.BUSINESS_APPROVER }}
                            </td>
                            {% else %}
                            <td>-
                            </td>
                            {% endif %}
                            
                            {% if ticket.DATE_APPROVED %}
                            <td>{{ ticket.DATE_APPROVED|date:"M d, Y"  }}
                            </td>
                            {% else %}
                            <td>-
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<form id="access_request_form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="form_id" value="access_request_form">
    {% csrf_token %}

<div class="modal fade" id="new_access_request" aria-hidden="true" data-bs-backdrop="static"
    style="height:90vh;margin-top:18px;" aria-labelledby="new_access_request" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <p style="font-size:20px;">Access Request Form</p>
                    <p style="font-size:16px;">Fill-out the following fields below to process your access request. </p>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form id="access_request_form" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="form_id" value="access_request_form">
                                    {% csrf_token %}

                                    <p style="font-size:13px;margin-top:10px;">Request Type:</p>

                                    <select id="request_type" name="request_type" class="form-select" aria-label="Default select example" style="max-height:120px;overflow-y: auto;font-size:12px;margin-bottom:20px;">
                                        <option value="" selected disabled></option>
                                        <option value="own_access">I am requesting approval for my own access</option>
                                        <option value="supervisor">I am a supervisor/manager requesting access for my team member</option>
                                        <option value="team_member">I am a team member requesting access for another team member</option>
                                    </select>
                                    
                                    <p id="team_member_label" style="font-size:13px;margin-top:10px;">Team Member:</p>

                                    <select id="team_member_select" name="team_member_select" style="font-size:12px;" class="form-select" aria-label="Default select example" multiple>
                                        <option value="" disabled></option>
                                        {% for employee in active_employees %}
                                            <option value="{{employee.id}}">{{employee.FIRST_NAME}} {{employee.LAST_NAME}} ({{employee.EMAIL_ADDRESS}})</option>
                                        {% endfor %}
                                    </select>
                                    
                                    <p id="approver_label" style="font-size:13px;margin-top:10px;">Approver:</p>
                                    
                                    <select id="access_approver" name="access_approver" class="form-select" aria-label="Default select example" multiple>
                                        <option value="" disabled></option>
                                        {% for employee in active_employees %}
                                            <option value="{{employee.id}}">{{employee.FIRST_NAME}} {{employee.LAST_NAME}} ({{employee.EMAIL_ADDRESS}})</option>
                                        {% endfor %}
                                    </select>

                                    <p style="font-size:13px;margin-top:10px;">Application:</p>

                                    <select id="applications_select" name="applications_select" class="form-select"
                                        aria-label="Default select example"
                                        style="max-height:120px;overflow-y: auto;font-size:12px;margin-bottom:20px;">
                                        <option value="" selected disabled></option>
                                        {% for app in apps %}
                                        <option value="{{app.id}}" >{{app.APP_NAME}}</option>
                                        {% endfor %}
                                    </select>

                                    <p style="font-size:13px;margin-top:10px;">Roles:</p>

                                    <select id="roles_select" name="roles_select" class="form-select"
                                        aria-label="Default select example"
                                        style="max-height:120px;overflow-y: auto;font-size:12px;margin-bottom:20px;" multiple>
                                        <option value="" disabled></option>
                                        <option>Roles</option>
                                    </select>

                                    <p style="font-size:13px;margin-top:10px;">Comment:</p> 

                                    <div class="mb-3">
                                        <textarea class="form-control" style="font-size:12px;" id="request_comment" name="request_comment" rows="3"></textarea>
                                      </div>
                                    <p style="font-size:13px;margin-top:10px;">Priority:</p>

                                    <select id="priority" name="priority" class="form-select"
                                        
                                        style="max-height:120px;overflow-y: auto;font-size:12px;margin-bottom:20px;">
                                        <option value="" selected disabled></option>
                                        <option>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-target="#new_app_modal5"
                    data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm">Submit Request</button>
            </div>
            </form>
        </div>
    </div>
</div>

</form>

<style>
    /* Apply font size to Select2 dropdown */
    .select2-container .select2-selection--single .select2-selection__rendered {
        font-size: 12px !important;
    }
    /* Apply font size to Select2 dropdown options */
    .select2-results__option {
        font-size: 12px !important;
    }

    /* Apply font size to Select2 search input */
    .select2-search__field {
        font-size: 12px !important;
    }

    .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 12px !important; /* Change to your desired font size */
    }

    .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__choice {
    font-size: 12px !important; /* Set the desired font size */
    background-color: #e1f7fc; /* Change to your desired color */
    color: #333; /* Change to your desired text color */
    }   
    #team_member_select.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 12px !important; /* Set the desired font size */

    
}
</style>  

<script src="{% static 'js/ticket.js' %}"></script>

<script>

      $('#team_member_select').select2({
        theme: "bootstrap-5",
        width: '100%',
        placeholder: $(this).data('placeholder'),
        allowClear: false,
        dropdownParent: $('#team_member_select').parent(),
        multiple: true // Corrected the selector

    });

    $('#access_approver').select2({
        theme: "bootstrap-5",
        width: '100%',
        placeholder: $(this).data('placeholder'),
        allowClear: false,
        dropdownParent: $('#access_approver').parent(), // Corrected the selector
        multiple: true // Corrected the selector
    });

    $('#applications_select').select2({
        theme: "bootstrap-5",
        width: '100%',
        placeholder: $(this).data('placeholder'),
        allowClear: false,
        dropdownParent: $('#applications_select').parent() // Corrected the selector
    });

    $('#roles_select').select2({
        theme: "bootstrap-5",
        width: '100%',
        placeholder: $(this).data('placeholder'),
        allowClear: false,
        dropdownParent: $('#roles_select').parent(), // Corrected the selector
        multiple: true
    });

    $('#request_type').select2({
        theme: "bootstrap-5",
        width: '100%',
        placeholder: $(this).data('placeholder'),
        allowClear: false,
        dropdownParent: $('#request_type').parent() // Corrected the selector
    });


    $('#priority').select2({
        theme: "bootstrap-5",
        width: '100%',
        placeholder: $(this).data('placeholder'),
        allowClear: false,
        dropdownParent: $('#priority').parent() // Corrected the selector
    });

    $('#company_name').select2({
        theme: "bootstrap-5",
        width: '100%',
        placeholder: $(this).data('placeholder'),
        allowClear: false,
        dropdownParent: $('#company_name').parent() // Corrected the selector
    });

</script>

{% endblock content %}