{% extends 'base/base-admin.html' %}
{% load static %}
{% block content %}


<form id="hr_sftp_create_form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="form_id" value="hr_sftp_create_form">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb" style="font-size:14px;">
                    <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:mydashboard'%}"
                            style="text-decoration:none;color:#474b4d">Dashboard</i></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:systemsettings'%}"
                            style="text-decoration:none;color:#474b4d">System Settings</i></a></li>
                    <li class="breadcrumb-item active" style="text-decoration:underline;color:#474b4d">HR Record</a>
                    </li>
                </ol>
            </nav>

            <nav class="navbar bg-body-tertiary" data-bs-theme="light" style="margin-bottom: 15px;margin-top:30px;;">
                <div class="container-fluid">
                    <div class="row">
                        <a style="font-size:25px;"><span class="fa-solid fa-clipboard-user"
                                style="margin-right: 10px;color:#474b4d"></span>Manage HR Record</a>
                    </div>
                </div>
            </nav>

            <div style="border-bottom:solid;border-color:lightgray" style="font-size:13px">
                <p style="font-size:13px">Report management for all active employees, new employees, and terminated employees</p>
            </div>

            <div class="card" style="margin-top:20px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form id="sftp_create_form" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="form_id" value="sftp_create_form">
                                {% csrf_token %}
                            <p style="font-size:14px;font-weight:bold;">SFTP Configuration:</p>
                            <p style="font-size:13px;">Add your SFTP credentials and file directory where the system
                                will pick up the file.</p>
                            <div class="row g-3 align-items-center" style="margin-top:3px;">
                                <div class="col-auto">
                                    <label style="font-size:12px;; width:150px;" class="col-form-label">Host
                                        Name:
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control sm" id="host_name" name="host_name" type="text"
                                        style="font-size:12px;width:250px;" autocomplete="off" value="{{sftp_check.HOST_NAME}}" required>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center" style="margin-top:3px;">
                                <div class="col-auto">
                                    <label style="font-size:12px;width:150px;;" class="col-form-label"> File
                                        Directory:
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control sm" id="sftp_directory"
                                        name="sftp_directory" type="text" style="font-size:12px;width:250px;"
                                        autocomplete="off" value="{{sftp_check.SFTP_DIRECTORY}}" required>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center" style="margin-top:3px;">
                                <div class="col-auto">
                                    <label style="font-size:12px;width:150px;;" class="col-form-label"> User
                                        Name:
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control sm" id="sftp_username" name="sftp_username"
                                        type="text" style="font-size:12px;width:250px;" autocomplete="off" value="{{sftp_check.SFTP_USERNAME}}" required>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center" style="margin-top:3px;">
                                <div class="col-auto">
                                    <label style="font-size:12px;width:150px;;" class="col-form-label">
                                        Password:
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control sm" id="sftp_password" name="sftp_password"
                                        type="password" style="font-size:12px;width:250px;" autocomplete="off"
                                         required>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center" style="margin-top:3px;">
                                <div class="col-auto">
                                    <label style="font-size:12px;width:150px;;" class="col-form-label">
                                        Retype Password:
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control sm" id="sftp_retypepassword"
                                        name="sftp_retypepassword" type="password"
                                        style="font-size:12px;width:250px;" autocomplete="off" required>
                                </div>
                            </div>

                            <div class="row g-3 align-items-center" style="margin-top:3px;">
                                <div class="col-auto">
                                    <label style="font-size:12px;width:150px;;" class="col-form-label">
                                    
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <button id="test_sftp" data-url="{% url 'appAUDITAI:test_sftp' %}"  type="button" style="font-size:12px;margin-left:-5px;"class="btn btn-link">Test SFTP Connection<i id="sftp_test_success"style="color:green;font-size:15px;margin-left:10px;" class="fas fa-check-circle"></i><i id="sftp_test_failed" style="font-size:15px;color:red;margin-left:10px;" class="fas fa-times-circle"></i></button>
                                </div>
                            </div>

                            <div style="border-bottom:solid;border-color:lightgray" style="font-size:13px">
                                <p style="font-size:13px;margin-top:40px;"></p>
                            </div>
                            <p style="font-size:14px;font-weight:bold;margin-top:15px;">Job Schedule:</p>

                            <p style="font-size:13px;margin-top:20px;">Select which days you want the file to be
                                retrieved from SFTP Server.</p>

                            <div class="btn-group btn-group-sm" role="group">
                                <input type="checkbox" class="btn-check" id="job_monday" name="job_monday" {% if job_sched_check.MONDAY %} checked="checked" {% endif %}  autocomplete="off"
                                    style="margin-right: 3px; transform: scale(0.8);">
                                <label class="btn btn-outline-primary" for="job_monday">Mon</label>
                            </div>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="checkbox" class="btn-check" id="job_tuesday" name="job_tuesday"  {% if job_sched_check.TUESDAY %} checked="checked" {% endif %} autocomplete="off"
                                    style="margin-right: 3px; transform: scale(0.8);">
                                <label class="btn btn-outline-primary" for="job_tuesday">Tue</label>
                            </div>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="checkbox" class="btn-check" id="job_wednesday" name="job_wednesday" {% if job_sched_check.WEDNESDAY %} checked="checked" {% endif %} autocomplete="off"
                                    style="margin-right: 3px; transform: scale(0.8);">
                                <label class="btn btn-outline-primary" for="job_wednesday">Wed</label>
                            </div>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="checkbox" class="btn-check" id="job_thursday" name="job_thursday" {% if job_sched_check.THURSDAY %} checked="checked" {% endif %} autocomplete="off"
                                    style="margin-right: 3px; transform: scale(0.8);">
                                <label class="btn btn-outline-primary" for="job_thursday">Thu</label>
                            </div>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="checkbox" class="btn-check" id="job_friday" name="job_friday"  {% if job_sched_check.FRIDAY %} checked="checked" {% endif %} autocomplete="off"
                                    style="margin-right: 3px; transform: scale(0.8);">
                                <label class="btn btn-outline-primary" for="job_friday">Fri</label>
                            </div>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="checkbox" class="btn-check" id="job_saturday" name="job_saturday" {% if job_sched_check.SATURDAY %} checked="checked" {% endif %}  autocomplete="off"
                                    style="margin-right: 3px; transform: scale(0.8);">
                                <label class="btn btn-outline-primary" for="job_saturday">Sat</label>
                            </div>
                            <div class="btn-group btn-group-sm" role="group">
                                <input type="checkbox" class="btn-check" id="job_sunday" name="job_sunday" {% if job_sched_check.SUNDAY %} checked="checked" {% endif %} autocomplete="off"
                                    style="transform: scale(0.8);">
                                <label class="btn btn-outline-primary" for="job_sunday">Sun</label>
                            </div>

                            <p style="font-size:13px;margin-top:20px;">Pick a time that you want this job to run.
                            </p>

                            <select id="job_time" name="job_time" class="form-select" aria-label="Default select example"
                                style="max-height:120px;overflow-y: auto;width:250px;font-size:12px;margin-bottom:20px;">
                                {% if job_sched_check.SCHEDULE_TIME %}
                                <option selected>{{ job_sched_check.SCHEDULE_TIME }}</option>
                                {% else %}
                                    <option selected>Select time</option>
                                {% endif %}
                                <option value="00:00">12:00 AM</option>
                                <option value="01:00">1:00 AM</option>
                                <option value="02:00">2:00 AM</option>
                                <option value="03:00">3:00 AM</option>
                                <option value="04:00">4:00 AM</option>
                                <option value="05:00">5:00 AM</option>
                                <option value="06:00">6:00 AM</option>
                                <option value="07:00">7:00 AM</option>
                                <option value="08:00">8:00 AM</option>
                                <option value="09:00">9:00 AM</option>
                                <option value="10:00">10:00 AM</option>
                                <option value="11:00">11:00 AM</option>
                                <option value="12:00">12:00 PM</option>
                                <option value="13:00">1:00 PM</option>
                                <option value="14:00">2:00 PM</option>
                                <option value="15:00">3:00 PM</option>
                                <option value="16:00">4:00 PM</option>
                                <option value="17:00">5:00 PM</option>
                                <option value="18:00">6:00 PM</option>
                                <option value="19:00">7:00 PM</option>
                                <option value="20:00">8:00 PM</option>
                                <option value="21:00">9:00 PM</option>
                                <option value="22:00">10:00 PM</option>
                                <option value="23:00">11:00 PM</option>
                                </select>
                            <button type="button" class="btn btn-warning btn-sm" style="margin-top:30px;" data-bs-target="#new_app_modal5" data-bs-toggle="modal"
                                data-bs-dismiss="modal">Upload Manually</button>
                            <button type="submit" class="btn btn-primary btn-sm" style="margin-top:30px;">Finish SFTP Setup</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="hr_manual_upload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="form_id" value="hr_manual_upload">
    {% csrf_token %}
    <div class="modal fade" id="new_app_modal5" aria-hidden="true" data-bs-backdrop="static"
        style="height:90vh;margin-top:18px;" aria-labelledby="new_app_modal3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <p style="font-size:14px;font-weight:bold;margin-top:15px;">Upload HR Record:</p>

                            <p style="font-size:13px;margin-top:20px;">Manually import the HR upload
                                template if SFTP server is not available.</a></p>
                            
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card-body">
                                               <!-- File drop area -->
                                                <div class="hr_file-drop-area" id="file-drop-area"
                                                    style="border-style:dashed;border-color:lightblue;border-width:medium;width:100%;height:120px;">
                                                    <div class="card-body" style="text-align: center;">
                                                        <i class="fa-solid fa-cloud-arrow-up" style="font-size:50px;display: block;color:lightblue"></i>
                                                        <a style="font-size:16px;color:grey">Drag and drop the User Upload Template here</a>
                                                    </div>
                                                </div>
                                                
                                                <!-- Manual upload section -->
                                                <div class="row" style="padding-top:20px;">
                                                    <a style="font-size:15px;color:#000000">Or browse and select the template here</a>
                                                    <div class="card" style="border:none">
                                                        <div class="card-body" style="font-size:13px;border-style:dashed;border-color:lightgray;margin-top:10px;">
                                                            <input type="file" id="hr_fileInput" name="file_name">
                                                            <input type="hidden" id="manual_hr_upload" name="manual_hr_upload" value="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="map_all_success" class="alert alert-light" style="margin-top:40px;height:60px;" role="alert">
                                                    <p style="font-size:12px;"><i style="margin-right:5px" class="fa-solid fa-circle-info"></i>Great! Our system was able to map all the required fields from the upload file. Click Save and Continue button to process the file.</p>
                                                </div>

                                                <div id="map_not_success" class="alert alert-info" style="margin-top:40px;height:60px;" role="alert">
                                                    <p style="font-size:12px;"><i style="margin-right:5px" class="fa-solid fa-circle-info"></i>System was able to map some of the required fields from the upload file. Please check and manually map the fields to proceed.</p>
                                                </div>
                                                
                                                <!-- THIS IS THE BUTTON TO UPLOAD THE ATTACH USER LIST -->
                                                <div id="mapping_div" class="card" style="margin-top:40px;">
                                                    <div class="card-header" style="height:40px;">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <p style="font-size:14px">Fields to Map</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <p style="font-size:14px">Upload File Fields</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">User ID</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="user_id_mapped" name="user_id_mapped" style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Email Address</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="email_mapped" name="email_mapped"   style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">First Name</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="first_name_mapped" name="first_name_mapped"  style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Last Name</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="last_name_mapped" name="last_name_mapped" style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Job Title</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="job_title_mapped" name="job_title_mapped" style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Department</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="department_mapped" name="department_mapped" style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Immediate Superior/Manager</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="manager_mapped" name="manager_mapped" style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Employee Type</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="emp_type_mapped" name="emp_type_mapped" style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Status</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="status_mapped" name="status_mapped"  style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Hire Date</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="date_hired_mapped" name="date_hired_mapped"  style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Re-hire Date</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="date_rehired_mapped" name="date_rehired_mapped"  style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-4">
                                                                <p style="font-size:12px;">Date Revoked</p>
                                                            </div>
                                                            <div class="col-8">
                                                                <select id="date_revoked_mapped" name="date_revoked_mapped"  style="font-size:12px" class="form-select" aria-label="Field Mapping">
                                                                    <option selected>-</option>
                                                        
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Save and Continue </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="{% static 'js/hr_upload.js' %}"></script>


{% endblock content %}

