{% extends 'pages/AUDIT/audit-details.html' %}
{% load static %}

{% block auditcontent %}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size:16px;">Planning Documents</a>
    <form class="d-flex">

        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#planning_doc_modal"
            aria-expanded="false" style="height:35px;margin-right:5px;" title="Add Filter">
            <i class="fas fa-filter"></i>
        </button>
    
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#planning_doc_modal"
            aria-expanded="false" style="height:35px;" title="Add New Document">
            <i class="fas fa-plus"></i>
        </button>
    
    </form>
    </div>
  </nav>

<ul class="nav nav-pills mb-3 border-bottom border-2" style="margin-top:20px;" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-semibold active position-relative" style="color:#474b4d;font-size:14px" id="pills-myqueue-tab" data-bs-toggle="pill" data-bs-target="#pills-myqueue" type="button" role="tab" aria-controls="pills-myqueue" aria-selected="true">In My Queue</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-semibold position-relative" style="color:#474b4d;font-size:14px" id="pills-upcoming-tab" data-bs-toggle="pill" data-bs-target="#pills-upcoming" type="button" role="tab" aria-controls="pills-upcoming" aria-selected="false">Upcoming Review</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-semibold position-relative" style="color:#474b4d;font-size:14px" id="pills-signedoff-tab" data-bs-toggle="pill" data-bs-target="#pills-signedoff" type="button" role="tab" aria-controls="pills-signedoff" aria-selected="false">Signed-off</button>
    </li>
</ul>

<div class="tab-content border rounded-3 border-light p-3 " id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-myqueue" role="tabpanel" aria-labelledby="pills-myqueue-tab">
        <table id="app_user_list" name="app_user_list" class="table table-hover table-sm nowrap"
        style="margin-top:50px;width: 100%;word-wrap:break-word;font-family:sans-serif;margin-top:20px;">
        <thead style="padding-top:12px;text-align:center">
            <tr
                style="font-size:12px; background-color:whitesmoke;max-width: 150px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;">
                <th style="text-align:left;">
                    <input type="checkbox" id="select-all-checkbox">
                <th style="text-align:left;">File Name</th>
                <th style="text-align:left;">Status</th>
                <th style="text-align:left;">Currently With</th>
                <th style="text-align:left;">Aging</th>
                <th style="text-align:left;"></i>Open Notes<i class="fa-solid fa-comment-dots" style="color:orange;font-size:14px;margin-left:5px"></i></th>
                <th style="text-align:left;"></i>Closed Notes <i class="fa-solid fa-comment-dots" style="color:green;margin-left:5px;"></i></th>
                <th style="text-align:left;">Preparer</th>
                <th style="text-align:left;">Reviewer</th>
                <th style="text-align:left;"></th>
            </tr>
        </thead>
        <tbody style="font-size:13px">
            {% for user in users %}
            <tr style="vertical-align: middle;">
                <td>
                    <input type="checkbox" id="user_checkbox"
                        name="user_checkbox" value="{{ user.id }}">
                </td>
                <td style="width:15%">{{ user.username }}</td>
                <td style="width:20%">{{ user.email }}</td>
                <td style="width:20%">{{ user.email }}</td>
                <td style="width:15%">{{ user.first_name }}</td>
                <td style="width:15%">{{ user.last_name }}</td>
                <td style="width:15%">{% if user.is_active %}Active{% else %}Inactive{% endif %}</td>
                <td style="width:15%">{{ user.last_login|default:"Never" }}</td>
                <td class="text-end">
                    <a href="{% url 'appAUDITAI:manage-user-roles-details' user.id %}" data-process-id="{{user.USER_ID}}" class="btn btn-outline-secondary btn-sm"
                        data-toggle="tooltip" data-placement="top" title="View Record">
                        <i class="fa-solid fa-arrows-to-dot"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        
    </div>
    <div class="tab-pane fade show" id="pills-upcoming" role="tabpanel" aria-labelledby="pills-upcoming-tab">
        <h2>Home</h2>
        <p>Please check our more design @ <a target="_blank" href="https://codepen.io/Gaurav-Rana-the-reactor">Upcoming</a></p>
    </div>
    <div class="tab-pane fade show" id="pills-signedoff" role="tabpanel" aria-labelledby="pills-signedoff-tab">
        <h2>Home</h2>
        <p>Please check our more design @ <a target="_blank" href="https://codepen.io/Gaurav-Rana-the-reactor">Signed-Off</a></p>
    </div>
</div>

<form id="planning_doc_upload" action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="form_id" value="planning_doc_upload">
    {% csrf_token %}

    <div class="modal fade modal-xl" id="planning_doc_modal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"> <a style="font-size:16px;"><span
                            style="margin-right: 10px;"></span><i class="fas fa-upload"
                            style="margin-right:5px;font-size:16px;"></i>
                        Planning Documents Upload Form</a></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <!-- THIS IS THE DRAG AND DROP SECTION -->
                    <div class="file-drop-area"
                        style="border-style:dashed;border-color:lightblue;border-width:medium;width:100%;height:250px;">
                        <div class="card-body" style=" text-align: center;">
                            <i class="fa-solid fa-cloud-arrow-up" style="font-size:50px;display: block;color:lightblue"></i>
                            <a style="font-size:16px;color:grey">Drag and
                                drop the Planning Document here
                                here</a>
                        </div>
                    </div>
                    
                    <!-- THIS IS THE MANUAL UPLOAD SECTION -->
                    <div class="row" style="padding-top:20px; ">
                        <a style="font-size:15px;color:#000000">Or browse
                            and
                            select the file here</a>
                        <div class="card" style="border:none">
                            <div class="card-body"
                                style="font-size:13px;border-style:dashed;border-color:lightgray;margin-top:10px;">
                                <input type="file" id="fileInput" name="file_name" multiple>
                                <input type="hidden" id="manual_user_upload" name="manual_user_upload"
                                    value="{{ selected_app.APP_NAME }}">
                            </div>
                        </div>
                    </div>
                    <div id="selectedFilesContainer" style="margin-top:20px;font-size:13px;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>

</form>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="{% static 'js/dragndrop.js' %}"></script>
<script src="{% static 'js/workpaper_upload.js' %}"></script>


{% endblock auditcontent %}