{% extends 'pages/AUDIT/audit-details.html' %}
{% load static %}

{% block auditcontent %}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size:16px;"><b>{{control_name.file_name}}</b></a>
    <form class="d-flex">

        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-target="#newAppModal"
            aria-expanded="false" style="height:35px;margin-right:5px;" title="Add Filter">
            <i class="fas fa-filter"></i>
        </button>
    
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-target="#newAppModal"
            aria-expanded="false" style="height:35px;" title="Add New Document">
            <i class="fas fa-plus"></i>
        </button>

    </form>
    </div>
</nav>

<ul class="nav nav-pills mb-3 border-bottom border-2" style="margin-top:20px;" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link fw-semibold active position-all" style="color:#474b4d;font-size:14px" id="pills-overview-tab" data-bs-toggle="pill" data-bs-target="#pills-overview" type="button" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</button>
      </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-semibold position-relative" style="color:#474b4d;font-size:14px" id="pills-assessment-tab" data-bs-toggle="pill" data-bs-target="#pills-assessment" type="button" role="tab" aria-controls="pills-assessment" aria-selected="true">Assessment</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-semibold position-relative" style="color:#474b4d;font-size:14px" id="pills-design-tab" data-bs-toggle="pill" data-bs-target="#pills-design" type="button" role="tab" aria-controls="pills-design" aria-selected="false">Design</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-semibold position-relative" style="color:#474b4d;font-size:14px" id="pills-interim-tab" data-bs-toggle="pill" data-bs-target="#pills-interim" type="button" role="tab" aria-controls="pills-interim" aria-selected="false">Interim</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link fw-semibold position-relative" style="color:#474b4d;font-size:14px" id="pills-rollforward-tab" data-bs-toggle="pill" data-bs-target="#pills-rollforward" type="button" role="tab" aria-controls="pills-rollforward" aria-selected="false">Roll-forward</button>
      </li>
    
</ul>

<div class="tab-content border rounded-3 border-light p-3 " id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
        <p style="font-size:14px;"><b>Control Summary:</b></p>
        <div class="container bg-light" style="padding:10px;">
            <div class="row g-3 align-items-center" style="margin-top:3px;">
                <div class="col-auto">
                    <label style="font-size:12px; width: 150px;" class="col-form-label">Control ID:</label>
                </div>
                <div class="col">
                    <input class="form-control sm" id="auth_method" name="auth_method" type="text" style="font-size:12px;"
                        value="{{control_details.CONTROL_ID}}" readonly>
                </div>
            </div>
            <div class="row g-3 align-items-center" style="margin-top:3px;">
                <div class="col-auto">
                    <label style="font-size:12px; width: 150px;" class="col-form-label">Control Description:</label>
                </div>
                <div class="col">
                    <textarea class="form-control" style="font-size:12px;resize:none" id="control_description"
                        name="control_description" rows="3" required readonly>{{control_details.CONTROL_DESCRIPTION}}</textarea>
                </div>
            </div>

            <div class="row g-3 align-items-center" style="margin-top:3px;">
                <div class="col-auto">
                    <label style="font-size:12px; width: 150px;" class="col-form-label">Type:</label>
                </div>
                <div class="col" style="font-size:12px;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="control_type" id="preventive"
                            value="option1">
                        <label class="form-check-label" for="preventive">Preventive</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="control_type" id="detective"
                            value="option2">
                        <label class="form-check-label" for="detective">Detective</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="control_type" id="monitoring"
                            value="option3">
                        <label class="form-check-label" for="monitoring">Monitoring</label>
                    </div>
                </div>
            </div>
        </div>
        <p style="font-size:14px;margin-top:20px;"><b>Risk Addressed:</b></p>
        <div class="container bg-light">
            <table id="app_user_list" name="app_user_list" class="table table-hover table-sm nowrap"
            style="margin-top:50px;width: 100%;word-wrap:break-word;font-family:sans-serif;margin-top:20px;">
            <thead style="padding-top:12px;text-align:center">
                <tr
                    style="font-size:12px; background-color:whitesmoke;max-width: 150px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;">
                  
                    <th style="text-align:left;">Risk ID</th>
                    <th style="text-align:left;">Description</th>
                    <th style="text-align:left;">Risk Rating</th>
                    
                </tr>
            </thead>
            <tbody style="font-size:13px">
                {% for doc in workpaper_docs_all %}
                <tr style="vertical-align: middle;">
                
                    <td style="width:30%;font-size:12px;" ><a href="{% url 'appAUDITAI:audit-per-app-workpapers-details' comp_id audit_id app_id doc.id %}">{{ doc.file_name }}</a></td>
                    <td style="width:10%;font-size:12px;"></td>
                    <td style="width:10%;font-size:12px;"></td>
                   
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade show" id="pills-assessment" role="tabpanel" aria-labelledby="pills-assessment-tab">
        Assessment
    </div>
    <div class="tab-pane fade show" id="pills-design" role="tabpanel" aria-labelledby="pills-design-tab">
        Design
    </div>
    <div class="tab-pane fade show" id="pills-interim" role="tabpanel" aria-labelledby="pills-interim-tab">
        Interim
    </div>
    <div class="tab-pane fade show" id="pills-rollforward" role="tabpanel" aria-labelledby="pills-rollforward-tab">
        Roll-forward
    </div>
</div>

{% endblock auditcontent %}